.container{ 
    padding: 0%;
    margin: 0%;
background-color: bisque;
}

#titulo{
    text-align: center;
    color: aquamarine;

}
.menu{
    width: 95%;
    padding: 5%;
    margin: 0%;
}
.home{
    float: left;
}
.login{
float: right;
}

  .container{ width: 100%;}
 
  @media screen and (max-width:800px){

    .container{

        width: 100%;
    }
    
}

@media screen and (max-width:400px){

    .container{

        width: 100%;
        
    }
    


}
  

 