
<div class="container">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['/']" role="tab" aria-controls="v-pills-home" aria-selected="true">Lista de Noticias</a>
    <a class="nav-link" id="crear" data-toggle="pill" [routerLink]="['/registernews']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Crear Noticias</a>
    <a class="nav-link" id="editar" data-toggle="pill" href="#v-pills-editar" role="tab" aria-controls="v-pills-messages" aria-selected="false">Editar Noticias</a>
    <a class="nav-link" id="eliminar" data-toggle="pill" href="#v-pills-eliminar" role="tab" aria-controls="v-pills-settings" aria-selected="false">Eliminar Noticias</a>
  </div>
