<!-- Post Content -->
<div>
  <div class="container">
    <div class="row">
      <div *ngIf="loaded else load">
        <div *ngIf="news !== null else failed">
          <h1>{{ news.titulo }}</h1>
          <a *ngIf="imOwner()" [routerLink]="['/news/edit/'+news.id]" class="btn btn-success">Editar</a>
          <!-- <div>
            {{ news.descripcion }}
          </div> -->
          <markdown [data]="news.descripcion"></markdown>
        </div>

        <ng-template #failed>
          <div class="failed">
            <h1>404</h1>
            <p>La noticia no existe!</p>
          </div>
        </ng-template>
      </div>
      <ng-template #load>
        <loading></loading>
      </ng-template>
    </div>
  </div>
</div>

