<!-- Main Content -->
<div class="container" >
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" >
      <hr>
      
      <div class="post-preview">
        <a routerLink="/news">
          <h2 class="post-title">
            
            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a routerLink="/news">Start Bootstrap</a>
          on September 18, 2018</p>
      </div>
      <hr>
     
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let n of news">
        <div class="post-preview">
          <a [routerLink]="['/news', n.id]">
            <h2 class="post-title">
              {{ n.titulo }}
            </h2>
          </a>
          <p class="post-meta">Publicado por
            <a [routerLink]="['vista-perfil', n.userId]">{{ n.userName }}</a>
            el {{ n.fecha | date:'dd-MM-yyyy' }}</p>
        </div>
        <hr>
      </div>
      
      <!-- Pager -->
       <div class="clearfix">
        <a class="btn btn-primary float-right" routerLink="/news">Older News &rarr;</a>
      </div>
    </div>
  </div>
</div>
<hr>
