
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="msgError !== undefined">
    {{ msgError }}
  </div>

  <h2>Login Form</h2>
  <form class="form-horizontal" (submit)="onSubmit()">
    <div class="form-group">
      <label class="control-label col-md-2" for="email">Email:</label>
      <div class="col-md-10">
        <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="login.email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="pwd">Contraseña:</label>
      <div class="col-md-10">
        <input type="password" class="form-control" name="password" placeholder="Enter password" [(ngModel)]="login.password">
      </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>