
.container {
    width:100%;
    background: burlywood;
}
    
    #vista{
      
        width:30%;
        display: inline-block;
        vertical-align: top;
        
    }

#vista-hija{
    
    width:60%;
    text-align: right;
    display: inline-block;
    vertical-align: top;

}


